{% extends 'base.html' %}
{% block content %}

            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{mytask.name}}</h5>
                    <p><b><i>{{mytask.priority}}</i></b></p>
                    <p>{{mytask.date}}</p>
                    <a class="btn btn-danger" href="{%  url 'delete' mytask.id %}">Done</a>
                     <a class="btn btn-success" href="{%  url 'update' mytask.id %}">Update</a>
                </div>
            </div><br>



{% endblock %}
